body {
    font-family: 'Lora', sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #e0a87f;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.retro-font {
    font-family: 'Lora', sans-serif;
    font-size: 2em;
    margin: 0;
}

section {
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

h2 {
    color: #e0a87f;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #e0a87f;
}

a:hover {
    color: #d0835f;
}

.logo {
    transition: transform 0.3s, border-color 0.3s;
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.logo:hover {
    transform: scale(1.1);
    border-color: #d0835f;
}

.bottom-section {
    background-color: #e0a87f;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-top: 0;
}

#about-me,
#interests {
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-section {
    text-align: center;
    padding: 20px;
    color: #333;
    background-color: #e0a87f;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 0;
}

.interest-logo {
    position: relative;
    display: inline-block;
    color: #e0a87f;
    margin: 20px;
}

.interest-logo i::after {
    font-family: 'Lora', sans-serif;
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: #e0a87f;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 14px;
    text-transform: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.interest-logo:hover i::after {
    opacity: 1;
    visibility: visible;
}

.social-logos {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 0;
    align-items: center;
}

.logo.link-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}
