body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5; /* Crème clair */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e0a87f; /* Crème foncé pour le header */
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.retro-font {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    margin: 0;
}

section {
    margin: 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Fond blanc pour les sections */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px;
}

h2 {
    color: #e0a87f; /* Couleur crème pour les titres de section */
}

p {
    line-height: 1.5;
}

a,
a:hover {
    text-decoration: none;
    color: #e0a87f; /* Couleur crème pour les liens */
}

.logo {
    transition: transform 0.3s, border-color 0.3s;
    width: 80px;
    height: 80px;
    margin: 0 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo:hover {
    transform: scale(1.1);
    border-color: #d0835f; /* Couleur crème plus foncée sur hover */
}

footer {
    background-color: #e0a87f; /* Crème foncé pour le footer */
    color: #fff;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.cta-email {
    display: inline-block;
    padding: 15px 30px;
    background-color: #e0a87f; /* Crème foncé pour le bouton */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cta-email:hover {
    background-color: #d0835f; /* Couleur crème plus foncée sur hover */
}
