body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.retro-font {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    margin: 0;
}

section {
    margin: 30px;
    text-align: left;
}

h2 {
    color: #3498db;
}

p {
    line-height: 1.5;
}

a,
a:hover {
    text-decoration: none;
    color: #3498db;
}

.logo {
    border-radius: 50%;
    border: 2px solid #3498db;
    transition: transform 0.3s, border-color 0.3s;
    width: 80px;
    height: 80px;
    margin: 0 15px;
    margin-bottom: 15px;
}

.logo:hover {
    transform: scale(1.1);
    border-color: #2980b9;
}

footer {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cta-email {
    display: inline-block;
    padding: 15px 30px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    font-weight: bold;
}

.cta-email:hover {
    background-color: #2980b9;
}
